Flow_DemoFunktionen.txt
[{"id":"48dc4e70.e766b","type":"rpi-neopixels","z":"c2c66ad0.e1aa68","name":"","pixels":"18","bgnd":"","fgnd":"","wipe":"40","mode":"pixelsneedle","rgb":"rgb","x":1140.8264770507812,"y":158.47571563720703,"wires":[]},{"id":"f2c69ca9.dd3a7","type":"ui_button","z":"c2c66ad0.e1aa68","tab":"ecb4ff75.ebae4","name":"Red ON","payload":"0,17,190,0,0","topic":"","group":"Make:","order":1,"x":183.84027099609375,"y":352.38543701171875,"wires":[["48dc4e70.e766b","a73d65f3.991cc8"]]},{"id":"1a60cc40.df95f4","type":"ui_button","z":"c2c66ad0.e1aa68","tab":"ecb4ff75.ebae4","name":"OFF","payload":"0,17,0,0,0","topic":"","group":"Make:","order":1,"x":192.895751953125,"y":395.8888854980469,"wires":[["48dc4e70.e766b","a73d65f3.991cc8"]]},{"id":"a73d65f3.991cc8","type":"debug","z":"c2c66ad0.e1aa68","name":"","active":true,"console":"false","complete":"false","x":592.8368530273438,"y":420.06944274902344,"wires":[]},{"id":"33ed797.ab66f86","type":"inject","z":"c2c66ad0.e1aa68","name":"Rot","topic":"","payload":"0,17,190,0,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":197.89581298828125,"y":87.88888549804688,"wires":[["48dc4e70.e766b"]]},{"id":"c140aa37.55e9c8","type":"inject","z":"c2c66ad0.e1aa68","name":"Grün","topic":"","payload":"0,17,0,190,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":193.89581298828125,"y":130.88888549804688,"wires":[["48dc4e70.e766b"]]},{"id":"226fd6fa.e0ebea","type":"http request","z":"c2c66ad0.e1aa68","name":"","method":"GET","ret":"obj","url":"api.openweathermap.org/data/2.5/forecast/city?id=524901&APPID=1111111111 ","tls":"","x":366.8402557373047,"y":531.4201965332031,"wires":[["f389df28.daf7f"]]},{"id":"68696c01.90c264","type":"inject","z":"c2c66ad0.e1aa68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170.8298797607422,"y":530.9584045410156,"wires":[["226fd6fa.e0ebea"]]},{"id":"f389df28.daf7f","type":"debug","z":"c2c66ad0.e1aa68","name":"","active":true,"console":"false","complete":"false","x":576.8333587646484,"y":531.3230285644531,"wires":[]},{"id":"c9b79680.a5d028","type":"feedparse","z":"c2c66ad0.e1aa68","name":"Störungen","url":"http://fahrplan.sbb.ch/bin//help.exe/dnl?tpl=rss_feed_custom&icons=44&regions=BVI4","interval":"5","x":126.89582824707031,"y":698.8888863928522,"wires":[["2f4b4092.feada"]]},{"id":"2f4b4092.feada","type":"debug","z":"c2c66ad0.e1aa68","name":"","active":true,"console":"false","complete":"false","x":331.8402557373047,"y":699.3298653967585,"wires":[]},{"id":"d8890fed.6616e","type":"exec","z":"c2c66ad0.e1aa68","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":399.9999694824219,"y":1080.4998779296875,"wires":[[],[],[]]},{"id":"bf3ed923.ad5b28","type":"inject","z":"c2c66ad0.e1aa68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":156.99998474121094,"y":1080.9998779296875,"wires":[["d8890fed.6616e"]]},{"id":"4075df7f.44fb9","type":"google calendar","z":"c2c66ad0.e1aa68","google":"","name":"","calendar":"","x":341.83326721191406,"y":902.0003662109375,"wires":[["46ac5796.666d38"]]},{"id":"e491458f.9ac0f8","type":"inject","z":"c2c66ad0.e1aa68","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":139.82986450195312,"y":901.9722290039062,"wires":[["4075df7f.44fb9"]]},{"id":"46ac5796.666d38","type":"debug","z":"c2c66ad0.e1aa68","name":"","active":true,"console":"false","complete":"false","x":556.8263854980469,"y":901.3299560546875,"wires":[]},{"id":"f9616ec7.62bad","type":"comment","z":"c2c66ad0.e1aa68","name":"Der Exec Knoten erlaubt es Betriebssystembefehle zu senden","info":"","x":278.83331298828125,"y":1024.770751953125,"wires":[]},{"id":"9ef73425.e8e728","type":"comment","z":"c2c66ad0.e1aa68","name":"Zur Verwendung des Google Kalender Knotens muessen über die Google Developers Console eine ID und ein Schlüssel generiert werden","info":"https://console.developers.google.com","x":522.8367919921875,"y":830.888916015625,"wires":[]},{"id":"723e8c73.bda2d4","type":"comment","z":"c2c66ad0.e1aa68","name":"Der Feedparsknoten erlaubt es RFF Feeds auszuwerten","info":"","x":275.82640075683594,"y":646.8819580078125,"wires":[]},{"id":"bbb0f626.aac4d8","type":"comment","z":"c2c66ad0.e1aa68","name":"Viele Dienste stellen Informationen im JSON Format zur Verfügung die über http-request abgerufen werden können","info":"In untenstehendem Beispiel muss noch ein API-Key bei \nopenweathermap.org bezogen werden. Details unter:\nhttps://openweathermap.org/api\n","x":452.82640075683594,"y":478.7673645019531,"wires":[]},{"id":"96668a14.dfba98","type":"inject","z":"c2c66ad0.e1aa68","name":"Blau","topic":"","payload":"0,17,0,0,190","payloadType":"str","repeat":"","crontab":"","once":true,"x":195.8958282470703,"y":170.88888549804688,"wires":[["48dc4e70.e766b","a73d65f3.991cc8"]]},{"id":"391554ad.bd43ec","type":"inject","z":"c2c66ad0.e1aa68","name":"Aus","topic":"","payload":"0,17,0,0,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":199.8958282470703,"y":215.88888549804688,"wires":[["48dc4e70.e766b","a73d65f3.991cc8"]]},{"id":"18083eee.0b0181","type":"comment","z":"c2c66ad0.e1aa68","name":"Der Inject-Knoten erlaubt es Werte direkt einzuspeisen.","info":"","x":235.82986450195312,"y":41.77430725097656,"wires":[]},{"id":"de365600.db16e8","type":"comment","z":"c2c66ad0.e1aa68","name":"Aufruf des Webinterfaces über http://ip-adresse:1880/ui","info":"","x":223.83680725097656,"y":311.7673645019531,"wires":[]},{"id":"5e6ab870.125908","type":"trigger","z":"c2c66ad0.e1aa68","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"1","extend":false,"units":"s","reset":"","name":"","x":499.8743896484375,"y":1281.9851531982422,"wires":[["d9684898.d60dd8","18686d64.5a5bd3","512c9d9e.a4b104"]]},{"id":"d9684898.d60dd8","type":"function","z":"c2c66ad0.e1aa68","name":"","func":"if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;","outputs":1,"noerr":0,"x":455.8743896484375,"y":1347.9851531982422,"wires":[["c300c090.b91e2"]]},{"id":"c300c090.b91e2","type":"delay","z":"c2c66ad0.e1aa68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":607.8743896484375,"y":1341.985107421875,"wires":[["5e6ab870.125908"]]},{"id":"85fac6bb.310158","type":"switch","z":"c2c66ad0.e1aa68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":306.8743896484375,"y":1334.985107421875,"wires":[["d9684898.d60dd8","5e6ab870.125908"],["d9684898.d60dd8"]]},{"id":"18686d64.5a5bd3","type":"function","z":"c2c66ad0.e1aa68","name":"BLINK Bahn","func":"if (msg.payload == 1) {\n    return {payload: \"6,7,190,0,0\"};\n}\nelse {\n    return {payload:\"6,7,0,0,0\"};\n}\n","outputs":1,"noerr":0,"x":819.8743896484375,"y":1302.9851684570312,"wires":[["48dc4e70.e766b"]]},{"id":"39afca4d.efa796","type":"inject","z":"c2c66ad0.e1aa68","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":1312.3805541992188,"wires":[["85fac6bb.310158"]]},{"id":"7723f624.824918","type":"inject","z":"c2c66ad0.e1aa68","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.7701416015625,"y":1385.4746704101562,"wires":[["85fac6bb.310158"]]},{"id":"512c9d9e.a4b104","type":"debug","z":"c2c66ad0.e1aa68","name":"","active":true,"console":"false","complete":"false","x":807.7388916015625,"y":1254.6945037841797,"wires":[]},{"id":"79da4491.abd7ac","type":"comment","z":"c2c66ad0.e1aa68","name":"Um ein Blinken zu erzeugen müssen fortwährend Ereignisse getriggert werden","info":"","x":330.7462463378906,"y":1205.1568239353064,"wires":[]},{"id":"ecb4ff75.ebae4","type":"ui_tab","z":"c2c66ad0.e1aa68","name":"Home","icon":"dashboard","order":"1"}]