Flow_DemoFunktionen.txt
[{"id":"7e6109d8.404978","type":"rpi-neopixels","z":"68e4e461.bad7ec","name":"","pixels":"18","bgnd":"","fgnd":"","wipe":"40","mode":"pixelsneedle","rgb":"rgb","x":1187.6666259765625,"y":170.70140838623047,"wires":[]},{"id":"99f9bbc1.a087a8","type":"ui_button","z":"68e4e461.bad7ec","tab":"245e976.8cb7368","name":"Red ON","payload":"0,17,190,0,0","topic":"","group":"Make:","order":1,"x":230.680419921875,"y":364.6111297607422,"wires":[["7e6109d8.404978","7f1aafcf.1ffed"]]},{"id":"3bfabdb.96ac142","type":"ui_button","z":"68e4e461.bad7ec","tab":"245e976.8cb7368","name":"OFF","payload":"0,17,0,0,0","topic":"","group":"Make:","order":1,"x":239.73590087890625,"y":408.1145782470703,"wires":[["7e6109d8.404978","7f1aafcf.1ffed"]]},{"id":"7f1aafcf.1ffed","type":"debug","z":"68e4e461.bad7ec","name":"","active":true,"console":"false","complete":"false","x":639.677001953125,"y":432.2951354980469,"wires":[]},{"id":"b4120786.e97fd8","type":"inject","z":"68e4e461.bad7ec","name":"Rot","topic":"","payload":"0,17,190,0,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":244.7359619140625,"y":100.11457824707031,"wires":[["7e6109d8.404978"]]},{"id":"bb22f2f3.d926b","type":"inject","z":"68e4e461.bad7ec","name":"Grün","topic":"","payload":"0,17,0,190,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":240.7359619140625,"y":143.1145782470703,"wires":[["7e6109d8.404978"]]},{"id":"9f97c2ac.66caa","type":"http request","z":"68e4e461.bad7ec","name":"","method":"GET","ret":"obj","url":"api.openweathermap.org/data/2.5/forecast/city?id=524901&APPID=1111111111 ","tls":"","x":413.68040466308594,"y":543.6458892822266,"wires":[["32b78178.17fa5e"]]},{"id":"83d83e46.35e6b","type":"inject","z":"68e4e461.bad7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":217.67002868652344,"y":543.1840972900391,"wires":[["9f97c2ac.66caa"]]},{"id":"32b78178.17fa5e","type":"debug","z":"68e4e461.bad7ec","name":"","active":true,"console":"false","complete":"false","x":623.6735076904297,"y":543.5487213134766,"wires":[]},{"id":"511518c1.da9cd8","type":"feedparse","z":"68e4e461.bad7ec","name":"Störungen","url":"http://fahrplan.sbb.ch/bin//help.exe/dnl?tpl=rss_feed_custom&icons=44&regions=BVI4","interval":"5","x":171.73597717285156,"y":674.1146172888483,"wires":[["22afa9ea.d0a3c6"]]},{"id":"22afa9ea.d0a3c6","type":"debug","z":"68e4e461.bad7ec","name":"","active":true,"console":"false","complete":"false","x":376.68040466308594,"y":674.5555962927546,"wires":[]},{"id":"12e0597.e77aaa7","type":"exec","z":"68e4e461.bad7ec","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":459.8401184082031,"y":909.7255859375,"wires":[[],[],[]]},{"id":"a7ae2c83.f0b2c","type":"inject","z":"68e4e461.bad7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":216.8401336669922,"y":910.2255859375,"wires":[["12e0597.e77aaa7"]]},{"id":"866ca3bf.eff78","type":"google calendar","z":"68e4e461.bad7ec","google":"","name":"","calendar":"","x":390.6734161376953,"y":796.22607421875,"wires":[["7d1d2cb3.20bb94"]]},{"id":"ac807e6c.790e5","type":"inject","z":"68e4e461.bad7ec","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":188.67001342773438,"y":796.1979370117188,"wires":[["866ca3bf.eff78"]]},{"id":"7d1d2cb3.20bb94","type":"debug","z":"68e4e461.bad7ec","name":"","active":true,"console":"false","complete":"false","x":605.6665344238281,"y":795.5556640625,"wires":[]},{"id":"45191314.137a1c","type":"comment","z":"68e4e461.bad7ec","name":"Der Exec Knoten erlaubt es Betriebssystembefehle zu senden","info":"","x":338.6734619140625,"y":853.9964599609375,"wires":[]},{"id":"fdd894b.93a4968","type":"comment","z":"68e4e461.bad7ec","name":"Zur Verwendung des Google Kalender Knotens muessen über die Google Developers Console eine ID und ein Schlüssel generiert werden","info":"https://console.developers.google.com","x":571.6769409179688,"y":725.1146240234375,"wires":[]},{"id":"258120be.604ba","type":"comment","z":"68e4e461.bad7ec","name":"Der Feedparse-Knoten erlaubt es RSS Feeds auszuwerten","info":"","x":320.6665496826172,"y":622.1076889038086,"wires":[]},{"id":"93cba6f4.6747b8","type":"comment","z":"68e4e461.bad7ec","name":"Viele Dienste stellen Informationen im JSON Format zur Verfügung die über http-request abgerufen werden können","info":"In untenstehendem Beispiel muss noch ein API-Key bei \nopenweathermap.org bezogen werden. Details unter:\nhttps://openweathermap.org/api\n","x":499.6665496826172,"y":490.99305725097656,"wires":[]},{"id":"6ede47ff.1b2098","type":"inject","z":"68e4e461.bad7ec","name":"Blau","topic":"","payload":"0,17,0,0,190","payloadType":"str","repeat":"","crontab":"","once":true,"x":242.73597717285156,"y":183.1145782470703,"wires":[["7e6109d8.404978","7f1aafcf.1ffed"]]},{"id":"6dff3152.9ef98","type":"inject","z":"68e4e461.bad7ec","name":"Aus","topic":"","payload":"0,17,0,0,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":246.73597717285156,"y":228.1145782470703,"wires":[["7e6109d8.404978","7f1aafcf.1ffed"]]},{"id":"ed43e7d4.d1a018","type":"comment","z":"68e4e461.bad7ec","name":"Der Inject-Knoten erlaubt es Werte direkt einzuspeisen.","info":"","x":282.6700134277344,"y":54,"wires":[]},{"id":"f5cbf1f.86d3c1","type":"comment","z":"68e4e461.bad7ec","name":"Aufruf des Webinterfaces über http://ip-adresse:1880/ui","info":"","x":270.6769561767578,"y":323.99305725097656,"wires":[]},{"id":"23b21835.f79218","type":"trigger","z":"68e4e461.bad7ec","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"1","extend":false,"units":"s","reset":"","name":"","x":551.7145385742188,"y":1042.2108976223108,"wires":[["e84c419c.bb40b","32c7e8a4.efedd8","2c0b075d.e41198"]]},{"id":"e84c419c.bb40b","type":"function","z":"68e4e461.bad7ec","name":"","func":"if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;","outputs":1,"noerr":0,"x":507.71453857421875,"y":1108.2108976223108,"wires":[["1c610cac.e9eca3"]]},{"id":"1c610cac.e9eca3","type":"delay","z":"68e4e461.bad7ec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":659.7145385742188,"y":1102.2108518459436,"wires":[["23b21835.f79218"]]},{"id":"e405451a.9093c8","type":"switch","z":"68e4e461.bad7ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":358.71453857421875,"y":1095.2108518459436,"wires":[["e84c419c.bb40b","23b21835.f79218"],["e84c419c.bb40b"]]},{"id":"32c7e8a4.efedd8","type":"function","z":"68e4e461.bad7ec","name":"BLINK Bahn","func":"if (msg.payload == 1) {\n    return {payload: \"6,7,190,0,0\"};\n}\nelse {\n    return {payload:\"6,7,0,0,0\"};\n}\n","outputs":1,"noerr":0,"x":871.7145385742188,"y":1063.2109128810998,"wires":[["7e6109d8.404978"]]},{"id":"4f2175f3.56fa1c","type":"inject","z":"68e4e461.bad7ec","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":187.84014892578125,"y":1072.6062986232873,"wires":[["e405451a.9093c8"]]},{"id":"d9c285e.ad93678","type":"inject","z":"68e4e461.bad7ec","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":192.61029052734375,"y":1145.7004148342248,"wires":[["e405451a.9093c8"]]},{"id":"2c0b075d.e41198","type":"debug","z":"68e4e461.bad7ec","name":"","active":true,"console":"false","complete":"false","x":859.5790405273438,"y":1014.9202482082483,"wires":[]},{"id":"7e6d4cb8.be9db4","type":"comment","z":"68e4e461.bad7ec","name":"Um ein Blinken zu erzeugen müssen fortwährend Ereignisse getriggert werden","info":"","x":382.5863952636719,"y":965.382568359375,"wires":[]},{"id":"245e976.8cb7368","type":"ui_tab","z":"68e4e461.bad7ec","name":"Home","icon":"dashboard","order":"1"}]